body {
	display: flex;
	flex-direction: column;
	width: 550px;
	height: 550px;
	background-color: #1e1f20;
	color: honeydew;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 75px;
	padding-top: 20px;
	width: 100%;
	text-align: center;
	background-color: white;
}

#twitchTokenInput {
	color: honeydew;
}

.main {
	margin-bottom: 110px;
	text-align: center;
}

small {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: xx-large;
	color: rgb(179, 179, 179);
}

.channel {
	padding: 0;
	border: none;
	background: none;
}

.channelImage {
	user-select: none;
	transition: transform 0.2s ease-in-out;
	overflow: hidden;
	img {
		border-radius: 15px;
		margin: 10px;
		float: left;
	}
	.channelInfo {
		float: left;
		margin-left: 10px;
		text-align: center;
		max-width: 425px;
		font-size: 30px;
		font-size: 1.8vw;
	}
	border-radius: 15px;
	max-width: 90vw;
	max-height: 120px;
	min-width: 90vw;
	min-height: 120px;
	margin: 10px;
	&:hover {
		transform: translate(5px, 5px);
	}
}
