body {
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 800px;
	margin: none;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 75px;
	padding-top: 20px;
	width: 100%;
	text-align: center;
	background-color: white;
}

.main {
	margin-bottom: 110px;
	text-align: center;
	small {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: xx-large;
		color: gray;
	}
}

.channelImage {
	img {
		margin: 10px;
	}
	border-radius: 5%;
	width: 200px;
	height: 120px;
	margin: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
