body {
	display: flex;
	flex-direction: column;
	min-width: 600px;
	max-width: 800px;
	min-height: 400px;
	max-height: 600px;
	margin: none;
	padding-bottom: 35px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 35px;
	width: 100%;
	margin-bottom: 5px;
	text-align: center;
	color: white;
}

.main {
	text-align: center;
	small {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: xx-large;
		color: gray;
	}
}

.channelImage {
	img {
		margin: 10px;
	}
	border-radius: 5%;
	width: 120px;
	height: 120px;
	margin: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
