.channelDiv {
	padding: 0;
	border: none;
	background: none;
	position: relative;
	.channel {
		user-select: none;
		padding: 10px;
		img {
			transition: transform 100ms ease-in-out;
			border-radius: 15px;
			margin: 10px;
			float: left;
			cursor: pointer;
			&:hover {
				transform: scale(110%);
			}
		}
		.channelInfo {
			vertical-align: middle;
			text-align: center;
			margin-left: 100px;
			max-width: 425px;
			font-size: 30px;
			font-size: 2vw;
		}
		border-radius: 15px;
		width: 90vw;
		height: 92px;
		margin: 10px;
	}
}
