.channelDiv {
	padding: 0;
	border: none;
	background: none;
}

.channel {
	user-select: none;
	transition: transform 100ms ease-in-out;
	img {
		border-radius: 15px;
		margin: 10px;
		float: left;
	}
	.channelInfo {
		text-align: center;
		margin-left: 100px;
		max-width: 425px;
		font-size: 30px;
		font-size: 2vw;
	}
	border-radius: 15px;
	max-width: 90vw;
	max-height: 120px;
	min-width: 90vw;
	min-height: 120px;
	margin: 10px;
	&:hover {
		transform: scale(105%);
	}
}
