// Scrollbar changes
// TODO Add better light mode vs dark mode scroll bars
body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(59, 59, 59);
	border-radius: 25px;
}

body {
	transition: background 100ms ease-in-out; // Transition so dark mode -> light mode is slightly less jarring
	width: 550px; // Width and height to cap extension size at max
	height: 550px;
}
