body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(59, 59, 59);
	border-radius: 25px;
}

body {
	width: 550px;
	height: 550px;
}

#twitchTokenInput {
	color: #fff;
}

small {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: xx-large;
	color: rgb(179, 179, 179);
}
