@use './include/mixins';

.container {
  padding-bottom: 5px;
}

.main {
  margin-bottom: 110px;
  text-align: center;
}

.confirmButton {
  @include mixins.confirmButton();
  border-radius: 100%, 0px, 0px, 100%;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 5px;
  margin: 0;
  border-top: 1px solid white;
}

.link {
  margin: 5px;
  color: white;
  &:hover {
    color: #d3d0d0;
  }
}

.dismissButton {
  @include mixins.confirmButton();
  border-radius: 0px, 100%, 100%, 0px;
}

.ruSure {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  z-index: 1;
  transition: opacity 100ms ease-in-out;
  position: fixed;
  width: 550px;
  height: 550px;
  padding: 50px;
  backdrop-filter: blur(10px);
  text-align: center;
  left: -40px;
  top: -50px;
}

.form {
  transition: background 100ms ease-in-out !important;
  padding: 15px;
}

.noAuth {
  text-align: center;
  a {
    transition: color 100ms ease-in-out;
    color: #05d1d1;
    text-decoration: none;
    &:hover {
      color: #048585;
    }
  }
  form {
    margin-top: 15px;
    button {
      margin-top: 15px;
    }
  }
  @include mixins.smolText();
}

.goFollow {
  @include mixins.smolText();
}

.colorModeToggle {
  @include mixins.controlButton(5px);
}

.settingsButton {
  @include mixins.controlButton(40px);
}
