@import './include/mixins';

.main {
	margin-bottom: 110px;
	text-align: center;
}

.ruSure {
	z-index: 1;
	transition: opacity 100ms ease-in-out;
	margin: none;
	padding: none;
	position: fixed;
	width: 550px;
	height: 550px;
	padding: 50px;
	backdrop-filter: blur(10px);
	text-align: center;
	left: -50px;
	top: -50px;
}

.form {
	transition: background 100ms ease-in-out !important;
	padding: 15px;
}

.noAuth {
	text-align: center;
	a {
		transition: color 100ms ease-in-out;
		color: #05d1d1;
		text-decoration: none;
		&:hover {
			color: #048585;
		}
	}
	form {
		margin-top: 15px;
		button {
			margin-top: 15px;
		}
	}
	@include smolText();
}

.goFollow {
	@include smolText();
}

.colorModeToggle {
	@include control-button(5px);
}

.settingsButton {
	@include control-button(40px);
}
