// I did not write this code... I "stole" it off a template loaders website

@mixin animationChild($delay, $top, $left) {
	animation-delay: $delay;
	&:after {
		top: $top;
		left: $left;
	}
}

.lds_roller {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
	div {
		animation: lds_roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		transform-origin: 40px 40px;
		&:after {
			content: ' ';
			display: block;
			position: absolute;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			margin: -4px 0 0 -4px;
		}
		&:nth-child(1) {
			@include animationChild(-0.036s, 63px, 63px);
		}
		&:nth-child(2) {
			@include animationChild(-72ms, 68px, 56px);
		}
		&:nth-child(3) {
			@include animationChild(-108ms, 71px, 48px);
		}
		&:nth-child(4) {
			@include animationChild(-144ms, 72px, 40px);
		}
		&:nth-child(5) {
			@include animationChild(-180ms, 71px, 32px);
		}
		&:nth-child(6) {
			@include animationChild(-216ms, 68px, 24px);
		}
		&:nth-child(7) {
			@include animationChild(-252ms, 63px, 17px);
		}
		&:nth-child(8) {
			@include animationChild(-288ms, 56px, 12px);
		}
	}
}

@keyframes lds_roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
