body {
	font-family: 'Akaya Telivigala', cursive;
	background: #23272a;
	color: #fff;
	display: inline-block;
	margin: 0px auto;
	text-align: center;
}

.twitchLogin {
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: background-color 0.125s ease-in-out;
	transform-origin: center center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;

	font-size: xx-large;
}

button {
	font-family: 'Roboto Mono', monospace;
	border-style: solid;
	font-size: xx-large;
	border-radius: 5px;
	border-color: #9146ff;
	background-color: #f0f0ff;
}

button:hover {
	background-color: #383f5a;
}
