@import "tailwindcss";

@theme {
  --color-button: #724cf9;
  --color-button-hover: #6b4ecf;
  --color-button-clicked: #573eb0;

  --color-sad-gray: rgb(179, 179, 179);

  --color-error-red: rgb(199, 33, 33);
}

@plugin "daisyui" {
  themes:
    cupcake --default,
    forest --prefersdark;
}

@plugin "@tailwindcss/typography";

@layer components {
  .sad-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: rgb(179, 179, 179);
  }
}

body,
html {
  scrollbar-width: 0.5em;
  font-family:
    "Noto Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  transition: background-color 100ms ease-in-out;
  width: 550px;
  height: 550px;
}
